* { margin: 0; padding: 0; } 
#urltextarea textarea, textarea.goodbye { width: 100%; height: 100px;}
#urltextarea textarea { height: 70px; font-family: "courier new"; letter-spacing: .2em; font-size: 8pt;} 
#container {width: 100%; height: 100%;}
.contain { margin: 3em auto; width: 702px; }
img.uploaded { }
input.linx {width: 219px;}
.submitbuttn1 { float: right; }
.errr { font-size: 9pt; }

#urlinput { width: 702px; margin: 0 auto;  }
#urlinput div { float: left; margin: 10px; border-bottom: 1px solid #eee; }
#urlinput div:hover { background: #f8f8f8; }
#urltextarea { width: 100%; margin: 8px 0 0 0; border-top: 1px solid #ABADB3; border-bottom: 1px solid #ABADB3; }
#urltextarea textarea { border: none; margin: 0 5px 0 5px; }
input.url { width: 200px; font-size: 8pt; border: none; }
img.uploaded { margin: 5px 0 0 25px; }
.up { margin: 0 0 3px 0; }
